{% block stylesheets %}
<style>
    .footer {
        background-color: black;
        height: 440px;
        padding: 72px 60px 72px 60px;
        color: white;
        line-height: normal;
        position: absolute;
        bottom: 0;

    }

    .pb-72 {
        padding-bottom: 72px;
    }

    .pt-72{
        padding-top: 72px;
    }

    .gap-32 {
        gap: 32px;
    }

    .contact-desc {
        margin-top: 30px;
    }

    .mt-8 {
        margin-top: 8px;
    }

    .mt-12 {
        margin-top: 12px;
    }

    .mr-30 {
        margin-right: 30px;
    }

    .w-320 {
        width: 320px;
    }

    .btn-try-learn {
        width: 100%;
        background-color: #6C6C6C;
        border: solid 1px #ffffff;
        padding: 12px 24px 12px 24px;
        color: #ffffff;
        border-radius: 24px;
    }
    .font-s-14{
        font-size: 14px;
    }
    .border-radius-3{
        border-radius: 3px;
    }
</style>
{% endblock %}

<footer class="footer">
    <div class="d-flex justify-content-between border-bottom pb-72">
        <div class="">
            <img src="/themes/core/static/img/logo_cyber_jutsu.png" alt="">
            <div class="d-flex contact-desc mt-30">
                <div class="mr-30">
                    <div>Email</div>
                    <div class="mt-8">contact@cyberjutsu.io</div>
                </div>
                <div>
                    <div>Phone</div>
                    <div class="mt-8">+(84) 906 6224 16</div>
                </div>
            </div>
        </div>
        <div class="w-320">
            <h4>Học Thử Miễn Phí Khoá Web Pentest 2024</h4>
            <button class="btn-try-learn mt-12">Học Thử Ngay!</button>
        </div>
    </div>

    <div class="d-flex justify-content-between pt-72 font-s-14">
        <div>CyberJutsu JSC, 2023</div>
        <div>
            <button class="border-radius-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                    class="bi bi-facebook" viewBox="0 0 16 16">
                    <path
                        d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                </svg>
            </button>
            <button class="border-radius-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-youtube"
                    viewBox="0 0 16 16">
                    <path
                        d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z" />
                </svg>
            </button>
        </div>
    </div>

</footer>