<div :class="getStyles()" class="" role="document" x-data="Challenge" x-init="id = {{ challenge.id }}">
  <div class="modal-content border border-dark rounded-4 modal-card-challenge" style="padding: 60px;" >
    <div class="modal-body p-0" >

      <div>
        <div class="d-flex flex-row-reverse">
          <button type="button" class="btn-close h-24 text-black" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>

        <ul class="nav" style="font-size: 24px; margin-top: 20px; margin-bottom: 20px;">
          <li class="nav-item" style="border-right: solid 1px black; padding-right: 8px; color: #9C9C9C;" >
            <button class="nav-link active p-0 "  data-bs-target="#challenge" @click="showChallenge()" style="color: #9C9C9C; font-weight: 400;">
              {% trans %}Challenge{% endtrans %}
            </button>
          </li>

          {% block solves %}
            <li class="nav-item" style="padding-left: 8px;">
              <button class="nav-link challenge-solves text-black p-0 " data-bs-target="#solves" @click="showSolves()">
                # {% trans %}Solves{% endtrans %}
                <!-- {% if solves != None %}
                  {{ ngettext("%(num)d Solve", "%(num)d Solves", solves) }}
                {% endif %} -->
              </button>
            </li>
          {% endblock %}
        </ul>
      </div>

      <div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="challenge">
            <div>
              <div class="d-flex justify-content-between align-items-end" style="margin-bottom: 10px;">
                  <h2 class="challenge-name pt-3 " style="font-size: 36px; font-weight: bold;">
                    {{ challenge.name }}
                  </h2>


                <!-- <h3 class="challenge-value text-center">
                  {{ challenge.value }}
                </h3> -->

                <img src="/files/001ff1f91b43ba4db945c8920f95cb5c/471c1a74414344cb6f5a636e4ed77ab6.png" alt="" style="width: 140px;" >

              </div>
  
  
              {% if tags %}
                <div class="challenge-tags text-center pt-2 pb-3">
                  {% block tags %}
                    {% for tag in tags %}
                      <span class="challenge-tag badge bg-info">{{ tag }}</span>
                    {% endfor %}
                  {% endblock %}
                </div>
              {% endif %}
  
              <span class="challenge-desc">{% block description %}{{ challenge.html }}{% endblock %}</span>

            </div>

            <div class=" d-flex flex-row justify-content-between" style="margin-bottom: 20px; margin-top: 20px;">
              <div style="color: #9E9E9E;">
                <svg class="pb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
                  <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584l.013-.012.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354-.012.012A6.97 6.97 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0"/>
                </svg>
                <span>The challenge is not started</span>
              </div>
              <div style="color: #1153E4;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
                <span style=" font-size: 24px;">Fetch Instance</span>
              </div>
            </div>

            {% if challenge.connection_info %}
              <div class="mb-2">
                <span class="challenge-connection-info">
                  {% block connection_info %}
                    {% set conn = challenge.connection_info %}
                    {% if not conn %}
                    {% elif conn.startswith("http") %}
                      {{ conn | urlize(target="_blank") }}
                    {% else %}
                      <code>{{ conn }}</code>
                    {% endif %}
                  {% endblock %}
                </span>
              </div>
            {% endif %}

            {% if hints %}
              <div class="challenge-hints hint-row row">
                <div class="col-12 mb-3">
                {% for hint in hints | sort(attribute="cost") %}
                  <div x-data="Hint" x-init="id = {{ hint.id }}">
                    {% if hint.content %}
                    <details>
                      <summary>{% trans %}View Hint{% endtrans %}</summary>
                      <div>{{ hint.html | safe }}</div>
                    </details>
                    {% else %}
                    <details @toggle="showHint(event)">
                      <summary>Unlock Hint for {{ hint.cost }} point{{ hint.cost|pluralize }}</summary>
                      <div x-html="html"></div>
                    </details>
                    {% endif %}
                  </div>
                {% endfor %}
                </div>
              </div>
            {% endif %}

            {% if files %}
              <div class="row challenge-files text-center pb-3">
                {% for file in files %}
                  <div class="col-md-4 col-sm-4 col-xs-12 file-button-wrapper d-block">
                    {% set segments = file.split('/') %}
                    {% set token = file.split('?') | last %}
                    {% if token %}
                      {% set filename = segments | last | replace("?" + token, "") %}
                    {% else %}
                      {% set filename = segments | last %}
                    {% endif %}
                    <a
                        class="btn btn-info btn-file mb-1 d-inline-block px-2 w-100 text-truncate"
                        href="{{ file }}"
                        title="{{ filename }}"
                    >
                      <i class="fas fa-download"></i>
                      <small>
                        {{ filename }}
                      </small>
                    </a>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if max_attempts > 0 %}
              <div class="row text-center">
                <div class="col-12">
                  <p>
                    {{ attempts }}/{{ max_attempts }} attempt{{ max_attempts|pluralize }}
                  </p>
                </div>
              </div>
            {% endif %}

            <div class="row submit-row">
              <div class="col-12 col-sm-8">
                {% block input %}
                  <input
                      id="challenge-id" class="challenge-id" type="hidden"
                      value="{{ challenge.id }}"
                  >
                  <input
                      id="challenge-input" class="challenge-input form-control"
                      type="text" name="submission"
                      @keyup.enter="submitChallenge()"
                      placeholder="{% trans %}Flag{% endtrans %}" x-model="submission"
                  >
                {% endblock %}
              </div>

              <div class="col-12 col-sm-4 mt-3 mt-sm-0 key-submit">
                {% block submit %}
                  <button
                      id="challenge-submit"
                      class="challenge-submit btn btn-outline-secondary w-100 h-100 text-white" style="background-color: #01A780;" type="submit"
                      @click.debounce.500ms="submitChallenge()"
                  >
                    {% trans %}Submit{% endtrans %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
                      <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                    </svg>                  
                  </button>
                {% endblock %}
              </div>
            </div>

            <div class="row notification-row">
              <div class="col-12">
                <template x-if="response">
                  {# This alert is re-used for all alerts, so it's important not to make it dismissble #}
                  <div
                      :class="{
                        'alert text-center w-100 mt-3 alert-success': response.data.status == 'correct',
                        'alert text-center w-100 mt-3 alert-info': response.data.status == 'already_solved',
                        'alert text-center w-100 mt-3 alert-danger': response.data.status == 'incorrect',
                      }" role="alert"
                  >
                    <strong x-text="response.data.message"></strong>
                    <div x-show="(response.data.status == 'correct' || response.data.status == 'already_solved')">
                      <div x-show="getNextId()">
                        <button @click="nextChallenge()" class="btn btn-info mt-3">
                          {% trans %}Next Challenge{% endtrans %}
                        </button>
                      </div>
                      {% if Configs.social_shares %}
                      <div>
                        <button x-show="!share_url" @click="getShareUrl()" class="btn btn-sm btn-outline-info mt-3">
                          {% trans %}Share{% endtrans %}
                        </button>
                        <div class="btn-group mt-3" role="group" x-show="share_url">
                          <button type="button" class="btn btn-sm btn-outline-secondary" @click="copyShareUrl()" data-bs-toggle="tooltip" data-bs-title="Copied!">
                            <i class="fa-solid fa-copy"></i>
                          </button>
                          <a :href="'https://twitter.com/intent/tweet?url=' + encodeURIComponent(share_url)" role="button" class="btn btn-sm btn-outline-secondary" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                          <a :href="'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(share_url)" role="button" class="btn btn-sm btn-outline-secondary" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                          <a :href="'http://www.linkedin.com/shareArticle?url=' + encodeURIComponent(share_url)" role="button" class="btn btn-sm btn-outline-secondary" target="_blank">
                            <i class="fa-brands fa-linkedin-in"></i>
                          </a>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="solves">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped text-center">
                  <thead>
                  <tr>
                    <td>
                      <b>{% trans %}Name{% endtrans %}</b>
                    </td>
                    <td>
                      <b>{% trans %}Date{% endtrans %}</b>
                    </td>
                  </tr>
                  </thead>
                  <tbody id="challenge-solves-names">
                  <template x-for="solve in solves">
                    <tr>
                      <td>
                        <a :href="solve.account_url" x-text="solve.name"></a>
                      </td>
                      <td x-text="solve.date"></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
